/**
 *
 * Mixins for responsiveness
 *
 */


/* Phone landscape*/

@mixin phone-land {
    @media (min-width: $very-small-width) {
        @content;
    }
}


/* Table portrait*/

@mixin tablet-port {
    @media (min-width: $small-width) {
        @content;
    }
}


/* Table landscape*/

@mixin table-land {
    @media (min-width: $medium-width) {
        @content;
    }
}


/* Wide screen*/

@mixin wide {
    @media (min-width: $large-width) {
        @content;
    }
}


/* Very wide screen*/

@mixin very-wide {
    @media (min-width: $very-large-width) {
        @content;
    }
}
