/**
 *
 * Configuration Variables
 *
 */


/* Colors */

$color-base: #15263e;
$color-base-light: #375362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;

/* Widths */

$site-width: 75em;
$smallest-width: 20em;
$very-small-width: 30em;
$small-width: 48em;
$medium-width: 60em;
$large-width: 75em;
$very-large-width: 100em;
